<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Back to Langing Page</a>
    <h1><%= user.username %></h1>
    <h1><%= user.email %></h1>

    <a href="/user/logout">Logout</a>

    <h1>Playlists</h1>
    <% for (let playlist of userPlaylists) { %>
        <a href="/playlist/<%= playlist._id %>"><%= playlist.name %></a>
    <% } %>

    <a href="/playlist">Create New Playlist</a>

    <form action="/search?">
        <label for="search">Search Movie</label>
        <input type="text" name="search" id="search">
        <button>Search</button>
    </form>

    <% if (results) { %>
        <a href="/home">Go To Home</a>
        <h1>Results</h1>
        <% for (let result of results) { %>
            <h3>Title: <%= result.Title %></h3>
            <h3>Year: <%= result.Year %></h3>
            <h3>Type: <%= result.Type %></h3>
            <h3>Poster:</h3>
            <img src="<%= result.Poster %>" alt="" srcset="">
            <form action="/playlist?_method=PUT" method="post">
                <select name="playlistId" id="playlist">
                    <% for (let playlist of userPlaylists) { %>
                        <option value="<%= playlist._id %>"><%= playlist.name %></option>
                    <% } %>
                    <input type="text" name="movieId" id="" hidden value="<%= result.imdbID %>">
                </select>
                <button id="addBtn">Add to Playlist</button>
            </form>
        <% } %>
    <% } %>

    <% if (error) { %>
        <h3><%= error %></h3>
    <% } %>

</body>

</html>