<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/home?token=<%= token %>">Go to home</a>
    <br>
    <% for (let movie of movies) { %>
        <img src="<%= movie.Poster %>" alt="" srcset="">
        <h1>Title: <%= movie.Title %></h1>
        <p>Plot: <%= movie.Plot %></p>
        <form action="/playlist?token=<%= token %>&_method=DELETE" method="post">
            <input type="text" name="playlistId" id="playlistId" hidden value="<%= playlistId %>">
            <input type="text" name="movieId" id="movieId" hidden value="<%= movie.imdbID %>">
            <button>Remove from playlist</button>
        </form>
        <br>
    <% } %>
</body>
</html>